<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% sessions.forEach(function(sesh) { %>
      <tr>
        <td><%= sesh.date.toLocaleDateString() %></td>
        <td><%= sesh.location %></td>
        <td><a href="/sessions/<%= sesh._id %>">Read More</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>
  
<%- include('../partials/footer') %>