<%- include('../partials/header') %>
<div class="show-page-container">
  <h2>Class Session Details</h2>
  <section id="show-page">
    <div class="date"><strong>Date: </strong>
      <%= session.date.toLocaleDateString() %>
    </div>
    <div class="location"><strong>Location: </strong>
      <%= session.location %>
    </div>
  </section>

  <h3>Food Served:</h3>
  <table id="food-served-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% session.food.forEach(function(f) { %>
        <tr>
          <td><%= f.name %></td>
          <td><%= f.category %></td>
          <td><%= f.description %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- form to add meals below -->
  <% if(user) { %>
    <form id="add-meal-to-food" action="/sessions/<%= session._id %>/meals" method="POST">
      <select name="mealId">
        <%- meals.map(m => `<option value="${m._id}">${m.name}</option>`) .join('') %>
      </select>
      <button type="submit">Add to Food</button>
    </form>
  <% } %>
  
  <br><br>

  <h2>Activities</h2>
  
  <% if(user) { %>
    <form id="add-activity-form" method="POST" action="/sessions/<%= session._id %>/activities">
      <label>Activity:</label>
      <textarea name="title"></textarea>
      <label>Description:</label>
      <textarea name="description"></textarea>
      <input type="submit" value="Add Activity">
    </form>
  <% } %>
  
  <% if (session.activities.length) { %>
    <table id="activities-table">
      <thead>
        <tr>
          <th>Teacher</th>
          <th>Activity</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% session.activities.forEach(function(a) { %>
          <tr>
            <td class="activity-user"><img alt="avatar" src="<%= a.userAvatar %>" referrerpolicy="no-referrer" ><%= a.userName %></td>
            <td><%= a.title %></td>
            <td><%= a.description %></td>
            <td>
              <% if (user && user._id.equals(a.user)) { %>
                <form id="delete" action="/activities/<%= a._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete Activity</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    
  <% } else { %>
    <h5>No Activities Yet</h5>
  <% } %>
</div>

<%- include('../partials/footer') %>